[submodule "resources/battery_package"]
	path = resources/battery_package
	url = https://github.com/CellCognition/battery_package.git

[submodule "submodules/css"]
	path = submodules/css
	url = https://github.com/sommerc/pyqt-stylesheets.git
