*.o
*.suo
*.sparseimage
*.user
*.nc
*.nc4
*.hdf5
*.hdf
*.hf5
*.ncb

/lib/
/bin/
/build/
/doc/
/private/
CMakeFiles/
Release/
Debug/

*.cmake
*.py[co]
*~
*.mex
*.mexw32
*.mexglx
*.bak
*.obj
.libs
.deps
Makefile
*.exe
*.ilk
*.pdb
*.exp
*.lib
*.dll
*.ncb
*.so
*.[do]
*.l[doa]
*.loT
