*.exe
*.dmg
*.app
*_flymake.py
*.so
Release
Debug
dist
build
resource.py
*_flymake.py
*~
*.so
*.dll
*.pkl
*.orig
*.diff
*.pyd
build.info
.project
.pydevproject
.settings
.DS_Store
*~
*.pyc
resource.py
